# Ignore reference folder at repository root
/reference/

# Ignore all .log files
*.log

# Ignore all .tmp files
*.tmp

# Ignore all .bak files
*.bak

# Ignore all .cache files
*.cache

#ignore __pycache__ folders
__pycache__/

#ignore .claud files
.claud

# Ignore CLAUDE.md
CLAUDE.md

# Ignore all .env files
.env

